# Eclipse project files

.settings/

# Build artifacts
/target/
/bin/
/build/

# IDE-specific files
.metadata/
*.iml
.idea/

# Dependency management files (Maven, Gradle, etc.)
/dependency-reduced-pom.xml
/.classpath
/.factorypath
/.settings/
/*.launch
/*.jardesc
